
<% @allproducts.each do |product| %>
	<div class="product-box">
			<div style="position: absolute; top: 20%; left: 10px;;">
				<b><%= product.name %></b>
				<br>
				<i>Seller: <%= product.dealer.dealerpersonalinfo.shopname %></i>
				<br>
				<div class="price">
					<i class="fa fa-rupee-sign"></i>
					<%= product.price %>
				</div>
			</div>
		<span style="position: absolute; right: 5px; top: 25%;">
			<%= link_to  cart_path(product.id), method: :patch, :remote => true, :class => "addtocartbtn" do %>
				<i class="fa fa-cart-plus" style="font-size: 2rem; margin-right: 5px;"></i>
			<% end %>
		</span>
		<span id="quantityhomepage-<%= product.id %>" style="position: absolute; right: 5px; top: 75%">
			<% if session[:customer_id] %>
				<% if Cart.where(customer_id: current_user.id).exists?(:product_id => product.id) %>
					<%= Cart.where(customer_id: current_user.id).find_by(product_id: product.id).quantity %>
				<% else %>
					<%= 0 %>
				<% end %>
			<% else %>
				0
			<% end %>
		</span>
	</div>
	<hr>
<% end %>
