<div class="container" style="margin-top: 130px;">
<% if session[:customer_id] %>	
	<div class="row homepage-top-block" style="min-height: 100px;">
		<div class="col-7 col-sm-7 col-md-7">
			<b>Delivering to: </b><br>
			<%= current_user.customerpersonalinfo.address %><br>
		</div>
		<%= link_to editadd_path, class: 'col-2 col-sm-2 col-md-2' do %>
			<div class="btn btn-outline-primary btn-sm" style="margin-top: 1.4rem;">
				<span class="fa fa-pen"></span>
			</div>
		<% end %>
		<div class="col-3 col-sm-3 col-md-3" style="overflow: hidden; padding: 0;">
			<%= image_tag('delivery-bike-logo.png', size: 100) %>
		</div>
	</div>
<% else %>
	<div class="servicableornot">
		We can't check if we are servicable in your region. Please log in to get products according to your location.<br><br>
		<%= form_for(:homepage, url: check_servicable_path, :remote => true, class: 'availability-check-form form-inline my-2 my-lg-0', style: 'text-align: center;') do |form| %>
				<div class="float-left" style="width: 75%;">
		      		<%= phone_field_tag :pincode, params[:pincode], placeholder: "Enter your area pincode", class: "form-control mr-sm-2" %>
		      	</div>
		      	<div class="input-group-btn float-left" style="margin-bottom: 1rem; width: 25%;">  
		        	<button onClick="checking();" type="submit" class="btn btn-info check-btn">
		        		Check
		    		</button>  
	     	  	</div>
  		<% end %>
	</div>
  	<div class="servicable">
  		We are available in your region. 😍 Log in and place your first order.
  	</div>
  	<div class="notservicable">
  		We are currently not available in your region. 😔 We are expanding fast and hoping to reach maximum people as soon as possible.
  	</div>
<% end %>
<br>
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="3000">
    	<a href="/homepage?search=bajaj almond drops" class="element-inline"></a>
      <%= image_tag('carousel/caro1.jpg', class: 'carousel-imgs') %>
    </div>
    <div class="carousel-item" data-interval="3000">
    	<a href="/homepage?search=tata sampann" class="element-inline"></a>
      <%= image_tag('carousel/caro2.jpg', class: 'carousel-imgs') %>
    </div>
    <div class="carousel-item" data-interval="3000">
    	<a href="/homepage?search=quick-food" class="element-inline"></a>
      <%= image_tag('carousel/caro3.jpg', class: 'carousel-imgs') %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="space-1"></div>
<div class="space-1"></div>
<h4> Snacks </h4>
<hr>
	<div class="row">
		<div class="col-6 col-sm-6 col-md-6 no-padding">	
			<a href="/homepage?search=biscuit" class="element-inline">
				<%= image_tag('snacks/biscuits.jpg', class: 'cat-icons') %>
			</a>
		</div>
		<div class="col-6 col-sm-6 col-md-6 no-padding">	
			<a href="/homepage?search=breakfast" class="element-inline">
				<%= image_tag('snacks/breakfast.jpg', class: 'cat-icons') %>
			</a>
		</div>
		<div class="col-6 col-sm-6 col-md-6 no-padding">	
			<a href="/homepage?search=noodle" class="element-inline">
				<%= image_tag('snacks/noodles.jpg', class: 'cat-icons') %>
			</a>
		</div>
		<div class="col-6 col-sm-6 col-md-6 no-padding">	
			<a href="/homepage?search=nut" class="element-inline">
				<%= image_tag('snacks/nuts.jpg', class: 'cat-icons') %>
			</a>
		</div>
	</div>
<hr>
<h4> Cooking Stuffs </h4>
<hr>
<div class="row">	
	<div class="col-6 col-sm-6 col-md-6 no-padding">
		<a href="/homepage?search=flour" class="element-inline">
			<%= image_tag('Cooking_stuffs/flour.jpg', class: 'cat-icons') %>
		</a>
	</div>
	<div class="col-6 col-sm-6 col-md-6 no-padding">
		<a href="/homepage?search=pulse" class="element-inline">
			<%= image_tag('Cooking_stuffs/pulses.jpg', class: 'cat-icons') %>
		</a>
	</div>
	<div class="col-6 col-sm-6 col-md-6 no-padding">
		<a href="/homepage?search=rice" class="element-inline">
			<%= image_tag('Cooking_stuffs/rice.jpg', class: 'cat-icons') %>
		</a>
	</div>
	<div class="col-6 col-sm-6 col-md-6 no-padding">
		<a href="/homepage?search=spice" class="element-inline">
			<%= image_tag('Cooking_stuffs/spices.jpg', class: 'cat-icons') %>
		</a>
	</div>
</div>
<hr>
<h4> Personal Care </h4>
<hr>
<div class="row">	
	<div class="col-6 col-sm-6 col-md-6 no-padding">	
		<a href="/homepage?search=detergent">
			<%= image_tag('personal_care/detergents.jpg', class: 'cat-icons') %>
		</a>
	</div>
	<div class="col-6 col-sm-6 col-md-6 no-padding">	
		<a href="/homepage?search=health drink">
			<%= image_tag('personal_care/health_drinks.jpg', class: 'cat-icons') %>
		</a>
	</div>
	<div class="col-6 col-sm-6 col-md-6 no-padding">	
		<a href="/homepage?search=oral">
			<%= image_tag('personal_care/oral_care.jpg', class: 'cat-icons') %>
		</a>
	</div>
	<div class="col-6 col-sm-6 col-md-6 no-padding">	
		<a href="/homepage?search=sugar salt">
			<%= image_tag('personal_care/salt_and_sugar.jpg', class: 'cat-icons') %>
		</a>
	</div>
</div>
</div>
 <footer>
 <div class="row">
  <div class = "col-6 col-sm-6 col-md-6">
    <b><u>Contact Us</u></b><br>
    <div class="product-box-info">  
       complaint@ekiraana.store
    </div>
      9057686840
    </div>
    <div class = "col-6 col-sm-6 col-md-6">
      <b><u>Address</u></b><br>
      In front of GM Academy School, <br>
      Salempur, Uttar Pradesh - 274509
    </div>
  </div>
</footer>

<script>
	$(".servicable").hide();
	$(".notservicable").hide();
	function checking() {
		$(".check-btn").html('Check<span class="fa fa-sync fa-spin"></span>');
		// $(".check-btn").append('<span class="fa fa-sync fa-spin"></span>');
	}
</script>