<% if @allproducts.count > 0 %>
	<% @allproducts.each do |product| %>
		<div class="product-box">
				<div class="row">	
					<div class="col-5 col-sm-3 col-md-2 col-lg-2 col-xl-2">
						<%= image_tag(product.image.profile_size.url, size: 120) %>
					</div>
					<div class="product-box-info col-7 col-sm-9 col-md-10 col-lg-10 col-xl-10">
						<b><%= product.name %></b>
						<br/>
						<i><%= product.description %></i>
						<br>
						<div class="price">
							<i class="fa fa-rupee-sign" style="font-weight: lighter;"></i>
							<%= product.price %>
						</div>
					</div>
				</div>
			<div class="row" style="position: absolute; right: 3rem; top: 85%; width: 4.5rem; height: 1.2rem;">
				
					<div class="col-3 col-sm-3 col-md-3">
						<span>	
							<%= link_to crtminus_path(product.id), method: :post, remote: true, id: "subtfromcartbtn-#{product.id}" do %>
								<i class="fa fa-minus-square" style="font-size: 1.2rem;"></i>
							<% end %>
						</span>
					</div>
					<div class="col-6 col-sm-6 col-md-6">
						<span class="qtyspan" id="quantityhomepage-<%= product.id %>" >
							<% if session[:customer_id] %>
								<% if Cart.where(customer_id: current_user.id).exists?(:product_id => product.id) %>
									<%= Cart.where(customer_id: current_user.id).find_by(product_id: product.id).quantity %>
								<% else %>
									<%= 0 %>
								<% end %>
							<% else %>
								0
							<% end %>
						</span>
					</div>
					<div class="col-3 col-sm-3 col-md-3">
						<%= link_to  cart_path(product.id), method: :patch, :remote => true, :id => "addtocartbtn-#{product.id}" do %>
							<i class="fa fa-plus-square" style="font-size: 1.2rem; margin-right: 5px;"></i>
						<% end %>
					</div>
				
					<script type="text/javascript">
						$("#addtocartbtn-<%= product.id %>").click(function(){
					  		$('#quantityhomepage-<%= product.id %>').html("");
					  		$('#quantityhomepage-<%= product.id %>').addClass('fa fa-sync fa-spin');
						});
						$("#subtfromcartbtn-<%= product.id %>").click(function(){
					  		$('#quantityhomepage-<%= product.id %>').html("");
					  		$('#quantityhomepage-<%= product.id %>').addClass('fa fa-sync fa-spin');
						});
					</script>
			</div>
			
		</div>
		<hr>
	<% end %>
<% else %>
	<div style="width: 100%; margin: 7rem auto 0; text-align: center;">
		<%= image_tag('nothing-found-logo.png', size: 150 ) %>
		<h5>Oops! Looks like we don't have what you are looking for....</h5>
		<h7>We are constantly adding new products...</h7>
	</div>
<% end %>
