<p id="notice"><%= notice %></p>

<p>
  <strong>Shopname:</strong>
  <%= @dealerpersonalinfo.shopname %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @dealerpersonalinfo.phone %>
</p>


<%= link_to 'Edit', edit_dealerpersonalinfo_path(@dealerpersonalinfo) %> |
<%= link_to 'Back', dealerpersonalinfos_path %>
