<h1>Login</h1>
<%= form_for(:customer, url: customersession_index_path) do |f| %>
	<div class="field"><%= f.label :email %><br/><%=f.text_field :email%></div>
	<p/>
	<div class="field"><%= f.label :password %><br/><%= f.password_field :password %></div>
	<div class="actions"><%= f.submit "Login" %></div>
	<%= link_to 'Register', new_customer_path %>
<% end %>
