<div class="container" style="margin-top: 130px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @dealer.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @dealer.password %>
</p>

<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back', dealers_path %>
</div>
