<h4 class="heading">Your Orders</h4>
<hr>
<% if @allo.count > 0 %>
	<% @allo.each do |key, value| %>
	<hr>
		<b>Ordered on: <%= key %></b>
		<hr>
		<% @ordersbydate = Allorder.where(created_at: key) %>
		<% @ordersbydate.each do |productordered| %>
			<div class="float-left" style="width: 20px; height: 20px;">
				<%= image_tag(productordered.product.image.tiny.url) %>
			</div>
			<div class="float-left" style="margin-left: 8px;">	
				<%= productordered.product.name %>
				(x<%= productordered.quantity %>)
			</div>
			<br>
		<% end %>
	<% end %>
<% else %>
	<div style="width: 100%; margin: 5rem auto 0; text-align: center;">
		<%= image_tag('no-pending.png', size: 150) %>
		<h4><b>BOO!</b></h4>
		<h5><b>Nothing here, but me</b></h5>
		<h6>You haven't placed any Orders.</h6>
	</div>
<% end %>
