<div class="container" style="margin-top: 130px;">
<h1>Products pending to be deliver</h1>
<div>
	<% @allptd.each do |key, value| %>
		To: <%= Customer.find(key).customerpersonalinfo.name %><br/>
		Add: <%= Customer.find(key).customerpersonalinfo.address %><br/>
		Phone: <%= Customer.find(key).customerpersonalinfo.phone %><br/>
		TP: <%= value %>
		<%= link_to 'show', delboy_pendingsbc_path(key)%>
		<br/>
		<br/>
	<% end %>
</div>
</div>
