<div class="container" style="margin-top: 130px;">
<% if @allpo.count > 0 %>	
	<h5 class="heading">Pending Transactions</h5><hr>
	<% @allpo.each do |key, value| %>
		<div class="pendings-productbox">
			<div class="pendings-absolute pendings-timeago"><span class="fa fa-clock" style="margin-right: 4px;"></span><%= time_ago_in_words(Pendingorder.find_by(confkey: key).created_at) %> ago</div>
			<br>
			<div class="divkeyshow pendings-confkey" onclick="showconfkey();"><span class="fa fa-key" style="margin-right: 4px;"></span>********</div>
			<div class="divkeyhide pendings-confkey" onclick="hideconfkey();"><span class="fa fa-lock" style="margin-right: 4px;"></span><%= key %></div>
			<div class="pendings-absolute pendings-totalproducts"><span class="fa fa-hand-holding-box"></span>Total <%= value %> Products</div>
			<br>
			<div class="pentrans-btn btn btn-primary float-left">
				<span class="fa fa-info-circle"></span>
				<%= link_to 'Show Details', pending_order_userbc_path(key), :class => 'font-white' %>
			</div>
			<% if ((Time.now - Pendingorder.find_by(confkey: key).created_at)/60) < 30 %>
				<div class="pentrans-btn btn btn-danger float-left">	
					<span class="fa fa-trash-alt"></span>
					<%= link_to 'Cancel Order', cancel_order_path(key), :class => 'font-white', method: :delete, data: { confirm: 'Are you sure to cancel your order? :(' } %>
				</div>
			<% end %>
			<br>
			<br>
			<hr>
		</div>
	<% end %>
	<a href="https://wa.me/919057686840/">
		<div class="whatsapp-help font-white"> 
			<%= image_tag('whatsapp-icon.png', size: 40, :class => 'whatsapp-icon-class') %>
			<span class="whatsapp-icon-class">Need <br> help?</span>
		</div>
	</a>
<% else %>
	<div style="width: 100%; margin: 7rem auto 0; text-align: center;">
		<%= image_tag('no-pending.png', size: 150) %>
		<h4><b>BOO!</b></h4>
		<h5><b>Nothing here, but me</b></h5>
		<h6>You don't have any pending transactions.</h6>
	</div>
<% end %>

<script type="text/javascript">
	$(function() {
		$('.divkeyhide').css('display','none');
	})
	function showconfkey() {
		$('.divkeyhide').css('display','block');
		$('.divkeyshow').css('display','none');
	}
	function hideconfkey() {
		$('.divkeyhide').css('display','none');
		$('.divkeyshow').css('display','block');
	}
</script>
</div>