<% if @allpo.count > 0 %>	
	<h5 class="heading">Pending Transactions</h5><hr>
	<% @allpo.each do |key, value| %>
		<% if false %>
			Conf. Key: <%= key %>
			<br>
			Total Products: <%= value %>
			<br>
			Ordered: <%= time_ago_in_words(Pendingorder.find_by(confkey: key).created_at) %> ago
			<br>
			<%= link_to 'Show', pending_order_userbc_path(key) %>
			<br>
			<% if ((Time.now - Pendingorder.find_by(confkey: key).created_at)/60) < 10 %>
				<%= link_to 'Cancel Order', cancel_order_path(key), method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
			<hr>
		<% end %>
		<div class="pendings-productbox">
			<div class="pendings-absolute pendings-confkey"><span class="fa fa-lock" style="margin-right: 4px;"></span><%= key %></div>
			<div class="pendings-absolute pendings-totalproducts"></div>
			<div class="pendings-absolute pendings-timeago"><span class="fa fa-clock" style="margin-right: 4px;"></span><%= time_ago_in_words(Pendingorder.find_by(confkey: key).created_at) %> ago</div>
			<hr>
		</div>
	<% end %>
	<a href="https://wa.me/919057686840/">
		<div style="position: fixed; right: 20px; bottom: 40px;">
			Need help?<br>
			<%= image_tag('whatsapp-icon.png', size: 64) %>
		</div>
	</a>
<% else %>
	<div style="width: 100%; margin: 7rem auto 0; text-align: center;">
		<%= image_tag('no-pending.png', size: 150) %>
		<h4><b>BOO!</b></h4>
		<h5><b>Nothing here, but me</b></h5>
		<h6>You don't have any pending transactions.</h6>
	</div>
<% end %>